/* 
    Created on : 28.07.2015, 15:16:30
    Author     : Kevin Haack
*/

/* ********************************** */
/* ************* general ************ */
/* ********************************** */

* {
    -fx-font-family: "Helvetica";

    /* color declaration */
    -fx-color-green:        #679417;
    -fx-color-green-light:  #7bb11c;
    -fx-color-green-dark:   #51760f;

    -fx-color-gray:         #949393;
    -fx-color-gray-light:   #f2f2f2;
    -fx-color-gray-dark:    #666666;

    -fx-color-orange:       #ec6c22;
    -fx-color-orange-light: #f7bc9b;

    -fx-color-red:          #ff0000;
    -fx-color-blue:         #0000ff;
    -fx-color-white:        #ffffff;
    -fx-color-black:        #000000;
}

/* ********************************** */
/* ********** backgrounds *********** */
/* ********************************** */

.background-red {
    -fx-background-color: -fx-color-red;
}

.background-blue {
    -fx-background-color: -fx-color-blue;
}

.background-gray {
    -fx-background-color: -fx-color-gray;
}

.background-light-gray {
    -fx-background-color: -fx-color-gray-light;
}

.background-dark-gray {
    -fx-background-color: -fx-color-gray-dark;
}

.background-white {
    -fx-background-color: -fx-color-white;
}

.background-green {
    -fx-background-color: -fx-color-green-light;
}

.background-orange {
    -fx-background-color: -fx-color-orange;
}

/* ********************************** */
/* ********** borders *********** */
/* ********************************** */

.simple-border-black {
    -fx-border-color: -fx-color-black;
    -fx-border-style: solid;
    -fx-border-width: 1;
}

.error-border-red {
    -fx-border-color: -fx-color-red;
    -fx-border-style: solid;
    -fx-border-width: 3;
}

.simple-border-black-bottom {
    -fx-border-color: -fx-color-black;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
}

/* ********************************** */
/* ********** marked *********** */
/* ********************************** */
.marked {
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
}

/* ********************************** */
/* ********** select rectangle *********** */
/* ********************************** */
.selectRect {
    -fx-fill: rgba(0, 154, 253, 0.2);
    -fx-stroke-width: 1px;
    -fx-stroke: #1777b7;
}